.scroll {
    width: 36px;
    height: 82px;
    position: fixed;
    bottom: 30px;
    right: -5px;
    a {
        display: inline-block;
        width: 36px;
        height: 36px;
        background-image: url(/project/src/img/main_scroll.png);
        background-repeat: no-repeat;
    }
    a:nth-child(1) {
        background-position: 0px -82px;
    }
    a:nth-child(2) {
        background-position: 0px -46px;
    }
}