@charset "GBK";
header {
  width: 100%;
  height: 129px;
}
header .headercon {
  /*!头部版心*/
  width: 1200px;
  margin: 0 auto;
}
header .headercon .search {
  width: 1200px;
  height: 67px;
  padding-top: 30px;
}
header .head {
  height: 32px;
  width: 100%;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  color: #999999;
  font-size: 12px;
}
header .head a {
  color: #999999;
}
header .head a:hover {
  color: red;
}
header .head .headcon {
  width: 1200px;
  margin: 0 auto;
}
header .head .headcon #headleft {
  float: left;
  height: 32px;
}
header .head .headcon #headright {
  float: right;
  height: 32px;
  line-height: 32px;
}

#headleft ul li {
  height: 32px;
  line-height: 32px;
  float: left;
  margin-right: 20px;
}

#headright div {
  height: 32px;
  line-height: 32px;
  float: left;
  margin-right: 20px;
}
#headright div a i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  cursor: pointer;
  background-image: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png");
  background-repeat: no-repeat;
}

#headright div:nth-child(1) a i {
  background-position: -136px 0px;
}

#headright div:nth-child(2) a i {
  background-position: 0px 0px;
}

#headright div:nth-child(3) a i {
  background-position: -110px 0px;
}

#headright ul {
  height: 14px;
  line-height: 14px;
  float: left;
  margin-top: 8px;
}
#headright ul li {
  float: left;
  padding: 0 20px;
  border-left: 1px solid #e5e5e5;
}
#headright ul li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/topMenu_redicon.png");
  background-repeat: no-repeat;
}

#headright li:nth-child(1) {
  position: relative;
}
#headright li:nth-child(1) i:first-child {
  background-position: -40px 0px;
}
#headright li:nth-child(1) i:last-child {
  background-position: -77px 5px;
}
#headright li:nth-child(1) #QR {
  position: absolute;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-top: 0;
  top: 25px;
  background: #fff;
  padding: 10px;
  width: 180px;
  height: 180px;
  display: none;
}

#headright li:nth-child(2) i {
  background-position: -60px 0px;
}

.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.search .search-box {
  position: relative;
}
.search .search-box input:first-child {
  width: 406px;
  height: 14px;
  vertical-align: top;
  background: #fff;
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  line-height: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  float: left;
  border: 1px solid #eb3b4a;
}
.search .search-box input:last-child {
  width: 100px;
  height: 36px;
  vertical-align: top;
  position: relative;
  left: -6px;
  color: #fff;
  background: #eb3b4a;
  font-size: 20px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  outline: 0;
  border: 0;
}
.search .search-right {
  width: 209px;
  height: 50px;
}
.search .search-right li {
  width: 160px;
  height: 50px;
  position: absolute;
}
.search .search-right li dd {
  position: relative;
  top: -46px;
  left: 56px;
  font-size: 12px;
}
.search .search-right li li:first-child {
  display: none;
}
.search .search-right span {
  display: inline-block;
  width: 19px;
  height: 19px;
  position: relative;
  top: 33px;
  background-image: url("http://pic0.iqiyipic.com/common/20150714/arrow2.gif");
  background-repeat: no-repeat;
}
.search .search-right .leftbtn {
  left: 140px;
  background-position: 0px 0px;
}
.search .search-right .rightbtn {
  left: 182px;
  background-position: -20px 0px;
}
.search .hots {
  height: 14px;
  position: absolute;
  top: 104px;
  left: 384px;
}
.search .hots ul li {
  float: left;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-size: 12px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #999999;
}
.search .hots ul li a {
  color: #999999;
}
.search .hots ul li:first-child {
  margin-left: 0px;
  padding-left: 0px;
  border-left: none;
}
.search .hots ul li:first-child a {
  color: #eb3b4a;
}
.search .hots ul li:nth-child(4) a {
  color: #eb3b4a;
}

nav {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #ee394b;
  margin-top: 20px;
}
nav .navcon {
  width: 1200px;
  height: 40px;
  margin: 0 auto;
}
nav .navcon li {
  float: left;
  padding: 0 25px;
}
nav .navcon li a {
  font-size: 16px;
  color: #fff;
}

footer {
  margin-top: 50px;
  width: 100%;
}
footer .top {
  height: 495px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}
footer .top .topcon {
  height: 495px;
  width: 1200px;
  margin: 0 auto;
}
footer .bottom {
  width: 100%;
  height: 230px;
  font-size: 12px;
  background-color: #f5f5f5;
}

.iconlist ul {
  height: 138px;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
}
.iconlist ul li {
  height: 100%;
  width: 20%;
  display: inline-block;
  float: left;
  position: relative;
}
.iconlist ul li img {
  position: absolute;
  top: 32px;
  left: 39px;
}
.iconlist ul li div {
  position: absolute;
  top: 50px;
  left: 120px;
}
.iconlist ul li div p {
  margin-bottom: 6px;
  font-size: 12px;
  color: #777;
}

.list2 ul {
  height: 126px;
  width: 1200px;
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.list2 ul li {
  width: 240px;
  height: 126px;
  float: left;
}
.list2 ul li a {
  display: block;
  position: relative;
  left: 74px;
  margin-bottom: 3px;
  font-size: 14px;
  color: #333;
}
.list2 ul li a:first-child {
  margin-bottom: 5px;
  font-size: 18px;
}

.QRlist ul {
  width: 1200px;
  height: 120px;
  margin-top: 39px;
  margin-bottom: 39px;
}
.QRlist ul li {
  float: left;
  width: 400px;
  height: 120px;
}
.QRlist ul li img {
  width: 120px;
  height: 120px;
  float: left;
}
.QRlist ul li div {
  float: left;
  width: 270px;
  margin-left: 10px;
}
.QRlist ul li div h1 {
  color: #333;
  font-size: 24px;
  padding-bottom: 5px;
}
.QRlist ul li div p {
  color: #666;
  font-size: 14px;
  line-height: 25px;
}

.links {
  width: 1200px;
  margin: 0 auto;
}
.links ul {
  display: inline-block;
  height: 56px;
}
.links ul li {
  margin-right: 55px;
}
.links ul li a {
  color: #777;
  margin-bottom: 10px;
  font-size: 12px;
}

.menu ul {
  width: 100%;
  height: 33px;
  padding-left: 200px;
}
.menu ul li {
  width: 52px;
  height: 16px;
  line-height: 16px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #333;
}
.menu ul li a {
  color: #333;
}

.jubao {
  width: 1200px;
  height: 33px;
  margin: 0 auto;
}
.jubao li {
  line-height: 33px;
  float: left;
  margin-left: 20px;
}
.jubao li a {
  color: #333;
}

.copyright {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

a {
  color: #3c3c3c;
  cursor: pointer;
}

a:hover {
  color: red;
}

em {
  font-style: normal;
}

.content {
  width: 1200px;
  margin-top: 20px;
  margin-left: 40px;
  display: inline-block;
}
.content .contleft {
  float: left;
  width: 188px;
  border: 1px solid #e7e7e7;
}
.content .contleft li {
  line-height: 40px;
  margin: 10px 0;
  text-align: center;
}
.content .contleft li:first-child {
  margin-top: 0px;
  background-color: #e7e7e7;
}
.content .contright {
  width: 1000px;
  float: right;
}
.content .contright .conthead {
  width: 1000px;
  height: 40px;
  background-color: #f7f7f7;
}
.content .contright .conthead li {
  width: 81px;
  color: #777;
  text-align: center;
  line-height: 40px;
  float: left;
  border-right: 1px solid #e7e7e7;
}
.content .contright .contlist {
  margin-top: 10px;
}
.content .contright .contlist li {
  float: left;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 230px;
  height: 326px;
  border: #e7e7e7 1px solid;
  margin: 10px 5px;
}

.conthead li button {
  width: 81px;
  height: 40px;
  border: none;
  color: #777;
}

.contlist li a {
  display: block;
  width: 228px;
  height: 228px;
}
.contlist li a img {
  width: 228px;
  height: 228px;
}
.contlist li .p1 {
  width: 200px;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  height: 22px;
  margin-left: 14px;
}
.contlist li .p3 {
  font-size: 14px;
  line-height: 22px;
  height: 22px;
  margin-left: 14px;
}
.contlist li .p3 .prise {
  font-size: 20px;
  color: #ee394b;
  line-height: 44px;
}
.contlist li .p3 .sailnum {
  font-size: 12px;
  color: #999;
  float: right;
  line-height: 12px;
}

.content ::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
